html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  background-color: #e9f6f8;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#main {
  flex: 1;
  padding: 15px;
}

.tbar {
  display: flex;
  padding-block: 10px;
}

.tbar div:first-child {
  flex: 1;
}

.tbar label {
  padding: 0 5px;
  cursor: pointer;
}

.table-view {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.table-view th,
.table-view td {
  border: 1px solid #057988;
  padding: 5px;
  line-height: 25px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.table-view th {
  background-color: #0798ab;
  color: #fff;
}

.table-view tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table-view input {
  width: 100%;
}

.table-view input:not([type="image" i]) {
  box-sizing: border-box;
}

.table-view input[type="text"] {
  width: 100%;
}

.select-all-column {
  width: 40px;
}
.table-actions {
  width: 90px;
}

.remove-btn,
.edit-btn {
  display: none;
}

.action-btn {
  cursor: pointer;
  min-width: 34px;
}

.table-view tr:hover .action-btn {
  display: inline-block;
}

.remove-btn {
  color: darkred;
}

.edit-btn {
  color: green;
}

footer {
  padding: 10px;
  background-color: #057988;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  gap: 5px;
}

footer a:hover {
  background-color: #0798ab;
}

footer a,
footer a:visited {
  color: #f5f5f5;
  vertical-align: top;
  line-height: 20px;
  display: inline-block;
  padding: 2px 5px;
  border-radius: 0.2em;
  transition: 0.5s;
  text-decoration: none;
}

footer .item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.loading-mask {
  position: relative;
}
.loading-mask::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #00000040;
  /* rgba(0, 0, 0, 0.25) */
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.loading-mask::after {
  content: "💠";
  text-align: center;
  /* content: ""; */

  position: absolute;
  border-width: 3px;
  border-style: solid;
  border-color: transparent #fff #fff;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  top: calc(50% - 12px);
  left: calc(50% - 12px);
  animation: 2s linear 0s normal none infinite running spin;
  filter: drop-shadow(0 0 2 rgba(0, 0, 0, 0.33));
  line-height: initial;
  font-size: initial;
}
